## Load packages

In [1]:
import numpy as np
import pandas as pd
import pyarrow.parquet as pq
import glob
import json
import pickle as p
from math import nan
from mapboxgl.viz import *
from mapboxgl.utils import *
from keplergl import KeplerGl
# mapbox://styles/mapbox/satellite-streets-v11
from sklearn.isotonic import IsotonicRegression
import datetime
import matplotlib.pyplot as plt
import matplotlib
import statsmodels.api as sm
import os
import csv

In [2]:
plt.rcParams["figure.figsize"] = (30,16)
plt.rcParams.update({'font.size': 32})
plt.rcParams.update({'figure.autolayout': True})


import warnings
warnings.filterwarnings('ignore')

## Load data

In [3]:
path = "C:/Users/Hamidreza/Dropbox/UAS4T/sample_dataset/" 
path = "C:/Users/Hamidreza/Dropbox/UAS4T/competition_dataset/"
# load samaple data
meta_dfs = []
trace_dfs = []

df_street = pd.read_csv('street_information.csv',header=0)

with open(path+'pneuma_competition_dataset.p', 'rb') as f:
    meta_df, trace_df = p.load(f)
trace_df.reset_index(inplace=True)

trace_df['time'] = pd.to_datetime(trace_df['time'], unit = 's', origin=pd.Timestamp('2020-08-04T08'))
phi = trace_df['lat'].mean()
# transfomration are from https://en.wikipedia.org/wiki/Geographic_coordinate_system
lat_to_y = 111132.92 - 559.82 * np.cos(2*phi) + 1.175 * np.cos(4*phi) - 0.0023 * np.cos(6*phi)
lon_to_x = 111412.84 * np.cos(phi) - 93.5 * np.cos(3*phi) + 0.118 * np.cos(5*phi)
trace_df['X'] = trace_df['lon'] * lon_to_x
trace_df['Y'] = trace_df['lat'] * lat_to_y
df_street['X_1'] = df_street['lon_1'] * lon_to_x
df_street['Y_1'] = df_street['lat_1'] * lat_to_y
df_street['X_2'] = df_street['lon_2'] * lon_to_x
df_street['Y_2'] = df_street['lat_2'] * lat_to_y
# set the bottom lett corner to (0,0)
df_street['X_1'] = df_street['X_1']-trace_df['X'].min()
df_street['Y_1'] = df_street['Y_1']-trace_df['Y'].min()
df_street['X_2'] = df_street['X_2']-trace_df['X'].min()
df_street['Y_2'] = df_street['Y_2']-trace_df['Y'].min()
df_street['heading'] = np.arctan2(df_street['Y_2']-df_street['Y_1'],df_street['X_2']-df_street['X_1'])
trace_df['X'] = trace_df['X']-trace_df['X'].min()
trace_df['Y'] = trace_df['Y']-trace_df['Y'].min()

## Inititialize road data

In [4]:
# determine offet for each road
df_street['offset'] = 0
df_street['length'] = 0
# determine the rotated coordinates
for i in range(len(df_street)):
    # retrieve related street names
    street_name = df_street.loc[i]['Street']
    rot = -df_street.loc[i]['heading']
    R = np.array([[np.cos(rot), -np.sin(rot)],[np.sin(rot), np.cos(rot)]])
    # determine the new coordinates in the rotated framework
    df_street.loc[i,'X_1_r'] = df_street.loc[i,'X_1']
    df_street.loc[i,'Y_1_r'] = df_street.loc[i,'Y_1']
    df_street.loc[i,'X_2_r'] = df_street.loc[i,'X_2']
    df_street.loc[i,'Y_2_r'] = df_street.loc[i,'Y_2']
    df_street.loc[i,['X_1_r','Y_1_r']] = np.dot(R.squeeze(),df_street.loc[i,['X_1','Y_1']].as_matrix().T).T
    df_street.loc[i,['X_2_r','Y_2_r']] = np.dot(R.squeeze(),df_street.loc[i,['X_2','Y_2']].as_matrix().T).T
    df_street.loc[i,'length'] = df_street.loc[i,'X_2_r'] -  df_street.loc[i,'X_1_r']


# Oktovriou:
# set the point reference point to (117,93, 260.50) (loc 4)
df_street.loc[4,'offset'] = 0
df_street.loc[5,'offset'] = df_street.loc[4,'length']
df_street.loc[6,'offset'] = df_street.loc[5,'offset'] + df_street.loc[5,'length']
df_street.loc[7,'offset'] = df_street.loc[6,'offset'] + df_street.loc[6,'length']
df_street.loc[8,'offset'] = df_street.loc[7,'offset'] + df_street.loc[7,'length']
df_street.loc[3,'offset'] = - df_street.loc[3,'length']
df_street.loc[2,'offset'] = df_street.loc[3,'offset'] - df_street.loc[2,'length']
df_street.loc[1,'offset'] = df_street.loc[2,'offset'] - df_street.loc[1,'length']
# Metsovou
df_street.loc[10,'offset'] = df_street.loc[9,'length']
# Louliaanou_W
df_street.loc[11,'offset'] = - df_street.loc[11,'length']
# Louliaanou_E
df_street.loc[12,'offset'] = 0
# Vasileous
df_street.loc[12,'offset'] = 0
# Deligianni
df_street.loc[13,'offset'] = df_street.loc[12,'length']+7
# Cheiden_E
df_street.loc[18,'offset'] = 0
# Cheiden_W
df_street.loc[19,'offset'] =  - df_street.loc[19,'length']
# Kotsika
df_street.loc[20,'offset'] = 0
# Egiptou
df_street.loc[21,'offset'] = 0
df_street.loc[22,'offset'] = df_street.loc[21,'length'] + 5
# Mavrommateon
df_street.loc[24,'offset'] = - df_street.loc[24,'length']
df_street.loc[23,'offset'] = - df_street.loc[23,'length'] + df_street.loc[24,'offset']
df_street.loc[25,'offset'] = 0
df_street.loc[26,'offset'] = df_street.loc[25,'length']
df_street.loc[27,'offset'] = df_street.loc[26,'length'] + df_street.loc[26,'offset']
# Rethimnou
df_street.loc[28,'offset'] = - df_street.loc[28,'length']
# Saripolou (does not go completely up to Alexandrtas, so used length Rethimnou for offset)
df_street.loc[29,'offset'] = - df_street.loc[28,'length']
# Mpoumpoulinas
df_street.loc[30,'offset'] = - df_street.loc[30,'length']
# Ziami
df_street.loc[32,'offset'] = - df_street.loc[32,'length']
df_street.loc[31,'offset'] = - df_street.loc[31,'length'] + df_street.loc[32,'offset']
# Navarchou
df_street.loc[34,'offset'] = - df_street.loc[34,'length']
df_street.loc[33,'offset'] = - df_street.loc[33,'length'] + df_street.loc[34,'offset']
# Spirou
df_street.loc[36,'offset'] = - df_street.loc[36,'length']
df_street.loc[35,'offset'] = - df_street.loc[35,'length'] + df_street.loc[36,'offset']
# Kallidromiou
df_street.loc[37,'offset'] = - df_street.loc[37,'length']
# Enianois
df_street.loc[38,'offset'] = - df_street.loc[38,'length']
# Feron
df_street.loc[39,'offset'] = - df_street.loc[39,'length']
# Gkiilfordou
df_street.loc[40,'offset'] = - df_street.loc[40,'length']
# Gkiilfordou
df_street.loc[40,'offset'] = - df_street.loc[40,'length']
# Skaramagka
df_street.loc[41,'offset'] = - df_street.loc[41,'length']
df_street

,Street,lat_1,lon_1,lat_2,lon_2,Unnamed: 5,offset,dir,segment,X_1,Y_1,X_2,Y_2,heading,length,X_1_r,Y_1_r,X_2_r,Y_2_r
0,Alexandras,37.991767,23.731317,37.990439,23.739712,NaN,0.000000,WE,0,110.787703,248.335608,1005.939543,101.370507,-0.162727,907.135910,69.091243,263.003592,976.227153,263.003592
1,Oktovriou,37.990095,23.730865,37.991268,23.731160,NaN,-204.359169,SN,0,62.591320,63.301233,94.046924,193.113029,1.333062,133.568549,76.261175,-45.923334,209.829724,-45.923334
2,Oktovriou,37.991268,23.731160,37.991638,23.731253,NaN,-70.790621,SN,1,94.046924,193.113029,103.963436,234.059631,1.333190,42.130291,209.823848,-45.950174,251.954139,-45.950174
3,Oktovriou,37.991638,23.731253,37.991878,23.731354,NaN,-28.660330,SN,2,103.963436,234.059631,114.732982,260.619589,1.185574,28.660330,255.972387,-8.393086,284.632716,-8.393086
4,Oktovriou,37.991878,23.731354,37.992030,23.731415,LT,0.000000,SN,3,114.732982,260.619589,121.237361,277.440896,1.201830,18.035058,284.458687,-13.018538,302.493745,-13.018538
5,Oktovriou,37.992030,23.731415,37.992189,23.731427,NaN,18.035058,SN,4,121.237361,277.440896,122.516911,295.036868,1.498206,17.642434,285.503207,-100.796166,303.145641,-100.796166
6,Oktovriou,37.992189,23.731427,37.992436,23.731486,NaN,35.677492,SN,5,122.516911,295.036868,128.808031,322.371491,1.344583,28.049240,314.999284,-53.222158,343.048523,-53.222158
7,Oktovriou,37.992436,23.731486,37.992890,23.731599,NaN,63.726732,SN,6,128.808031,322.371491,140.857127,372.614079,1.335423,51.667188,343.521660,-50.077505,395.188848,-50.077505
8,Oktovriou,37.992890,23.731599,37.993689,23.731799,NaN,115.393920,SN,7,140.857127,372.614079,162.182960,461.036606,1.334135,90.957872,395.253026,-49.568415,486.210898,-49.568415
9,Metsovou,37.990815,23.731174,37.990567,23.732776,NaN,0.000000,WE,0,95.539732,142.981108,266.359654,115.535818,-0.159306,173.010664,71.648367,156.326418,244.659031,156.326418
10,Metsovou,37.990567,23.732776,37.990163,23.735361,NaN,173.010664,WE,1,266.359654,115.535818,541.996046,70.826555,-0.160803,279.238856,244.424769,156.692447,523.663625,156.692447
11,Loulianou_W,37.991730,23.728717,37.991367,23.731022,NaN,-249.041570,WE,0,-166.448127,244.240948,79.332099,204.069011,-0.162014,249.041570,-203.665958,214.193364,45.375612,214.193364
12,Loulianou_E,37.991248,23.731342,37.990713,23.734534,NaN,0.000000,WE,0,113.453432,190.899699,453.813727,131.693126,-0.172229,345.471487,79.058699,207.518911,424.530187,207.518911
13,Vasileos,37.989963,23.731004,37.989524,23.733585,NaN,352.471487,WE,0,77.412774,48.693257,352.622649,0.110666,-0.174729,279.465102,67.769160,61.409378,347.234262,61.409378
14,Deligianni,37.989488,23.733681,37.989259,23.735144,NaN,0.000000,WE,0,362.859049,-3.873327,518.857517,-29.215954,-0.161047,158.043573,358.784702,54.362023,516.828275,54.362023
15,In_ramp,37.991298,23.731331,37.991539,23.731917,NaN,0.000000,NE,0,112.280511,196.433023,174.765202,223.103648,0.403423,67.938640,180.380479,136.585975,248.319119,136.585975
16,Out_ramp_1,37.991796,23.731867,37.992147,23.731497,NaN,0.000000,NW,0,169.433743,251.544937,129.980952,290.388875,2.363971,55.365822,55.744896,-298.119364,111.110719,-298.119364
17,Out_ramp_2,37.991621,23.732863,37.992042,23.732515,NaN,0.000000,NW,0,275.636392,232.178300,238.529442,278.768894,2.243367,59.561809,9.893908,-360.255873,69.455717,-360.255873
18,Cheiden_E,37.992822,23.731697,37.992676,23.732592,NaN,0.000000,WE,0,151.306785,365.088757,246.739888,348.931450,-0.167715,96.791196,88.239684,385.223704,185.030880,385.223704
19,Cheiden_W,37.993059,23.730343,37.992886,23.731438,NaN,-118.318180,WE,0,6.930896,391.316716,123.689831,372.171413,-0.162527,118.318180,-56.480189,387.281290,61.837991,387.281290
20,Kotsika,37.993189,23.731805,37.993046,23.732681,NaN,0.000000,WE,0,162.822735,405.703360,256.229884,389.878052,-0.167829,94.738249,92.765348,427.201416,187.503597,427.201416
21,Egiptou,37.992177,23.731549,37.992103,23.732123,NaN,0.000000,WE,0,135.525669,293.708870,196.730810,285.519550,-0.133011,61.750581,95.377104,309.087876,157.127685,309.087876
22,Egiptou,37.992066,23.732148,37.992003,23.732535,NaN,66.750581,WE,1,199.396539,281.424889,240.662026,274.452900,-0.167374,41.850317,149.726560,310.710324,191.576877,310.710324
23,Mavrommaeon_S,37.989854,23.731930,37.990603,23.732115,NaN,-183.042167,SN,0,176.151381,36.630609,195.877776,119.519811,1.337157,85.204170,76.417783,-162.884723,161.621953,-162.884723
24,Mavrommaeon_S,37.990603,23.732115,37.991462,23.732332,NaN,-97.837997,SN,1,195.877776,119.519811,219.016305,214.582328,1.332036,97.837997,162.454038,-162.054849,260.292035,-162.054849
25,Mavrommaeon_N,37.991682,23.732462,37.991948,23.732563,NaN,0.000000,SN,0,232.878097,238.928956,243.647642,268.366243,1.220074,31.345446,304.395464,-136.611330,335.740910,-136.611330
26,Mavrommaeon_N,37.991948,23.732563,37.992163,23.732596,NaN,31.345446,SN,1,243.647642,268.366243,247.166405,292.159539,1.423972,24.052081,301.123861,-201.764800,325.175942,-201.764800
27,Mavrommaeon_N,37.992163,23.732596,37.993100,23.732821,NaN,55.397527,SN,2,247.166405,292.159539,271.157967,395.854042,1.343429,106.433759,340.354853,-174.948569,446.788612,-174.948569
28,Rethimnou,37.989732,23.732651,37.991339,23.733060,NaN,-183.110317,SN,0,253.031009,23.129297,296.642337,200.970350,1.330315,183.110317,82.728036,-240.240978,265.838353,-240.240978
29,Saripolou,37.989646,23.733160,37.990416,23.733357,NaN,-183.110317,SN,0,307.305254,13.611979,328.311199,98.825177,1.329105,87.764110,86.768471,-295.115295,174.532581,-295.115295
30,Mpoumpoulinas,37.989491,23.733670,37.991199,23.734111,NaN,-194.779746,SN,0,361.686128,-3.541328,408.709590,185.477041,1.326969,194.779746,83.881195,-351.842779,278.660941,-351.842779
31,Zaimi,37.989405,23.734283,37.990232,23.734491,NaN,-193.026399,SN,0,427.049806,-13.058646,449.228672,78.462543,1.333044,94.170219,87.886997,-418.112354,182.057216,-418.112354
32,Zaimi,37.990232,23.734491,37.991100,23.734710,NaN,-98.856180,SN,1,449.228672,78.462543,472.580460,174.521058,1.332323,98.856180,182.358733,-417.980936,281.214913,-417.980936
33,Navarchou,37.989328,23.734758,37.990176,23.734974,NaN,-193.203949,SN,0,477.698660,-21.579966,500.730559,72.265219,1.330129,96.630157,92.901967,-469.074545,189.532124,-469.074545
34,Navarchou,37.990176,23.734974,37.991023,23.735192,NaN,-96.573792,SN,1,500.730559,72.265219,523.975717,165.999738,1.327711,96.573792,190.665667,-468.614936,287.239459,-468.614936
35,Spirou,37.989252,23.735228,37.990062,23.735399,NaN,-192.306010,SN,0,527.814367,-29.990619,546.047954,59.649239,1.370125,91.475505,75.819144,-523.200632,167.294648,-523.200632
36,Spirou,37.990062,23.735399,37.990946,23.735628,NaN,-100.830505,SN,1,546.047954,59.649239,570.466033,157.478418,1.326195,100.830505,190.109908,-515.349030,290.940413,-515.349030
37,Kallidromiou,37.989237,23.735994,37.989961,23.735393,NaN,-102.598231,NW,0,609.492308,-31.650617,545.408179,48.471924,2.245431,102.598231,-405.413531,-456.204453,-302.815300,-456.204453
38,Enianos,37.991783,23.730012,37.991637,23.731095,NaN,-116.604233,WE,0,-28.363358,250.106272,87.116028,233.948964,-0.139013,116.604233,-62.745811,243.763391,53.858422,243.763391
39,Feron,37.992307,23.730126,37.992140,23.731235,NaN,-119.687232,WE,0,-16.207633,308.095514,102.044111,289.614210,-0.155034,119.687232,-63.587299,301.897646,56.099934,301.897646
40,Gkillfordou,37.992681,23.730240,37.992508,23.731346,NaN,-119.475794,WE,0,-4.051908,349.484782,113.879948,330.339479,-0.160938,119.475794,-60.002457,344.319236,59.473338,344.319236
41,Skaramagka,37.990782,23.730174,37.990666,23.730875,NaN,-75.841396,WE,0,-11.089433,139.329114,63.657612,126.491800,-0.170084,75.841396,-34.512996,135.441613,41.328399,135.441613

## Calculate heading

In [5]:
d = 12
min_speed = 2 
trace_df['heading_raw'] = np.arctan2(trace_df['Y'].diff(d),trace_df['X'].diff(d))#/np.pi*180
#trace_df['heading_raw'] += 360 
trace_df['heading'] = np.nan
# if the car does not move set heading to NaN
trace_df.loc[(trace_df['Y'].diff(d)==0)&(trace_df['X'].diff(d)==0),'heading_raw'] = np.nan
trace_df.loc[(trace_df['speed']<=min_speed)|(trace_df.shift(d)['speed']<=min_speed),'heading_raw'] = np.nan
trace_df.loc[(trace_df['track_id']!=trace_df['track_id'].shift(d)),'heading_raw'] = np.nan

grouped = trace_df.groupby('track_id')
for name, group in grouped:
    if name%10 == 0:
        print(name)
    # moving average for heading with size 10 (0.4 second)
    group['heading'] = np.arctan2(group['heading_raw'].apply(np.sin).rolling(12, win_type = 'triang', min_periods = 6).mean(),group['heading_raw'].apply(np.cos).rolling(12, win_type = 'triang', min_periods = 6).mean())
    # fill NaN backward/forward 
    group['heading'] = group['heading'].fillna(method = 'bfill')
    group['heading'] = group['heading'].fillna(method = 'ffill')
    trace_df.loc[group.index,'heading'] = group['heading']

    
    
# taking care of trips with small number of samples (no heading can be determined via above procedure)
no_heading = trace_df[['track_id','heading']].groupby('track_id').mean().isna()
no_heading = no_heading[no_heading['heading']].index.values

d = 4
min_speed = 0.1 

grouped = trace_df.groupby('track_id')
for name, group in grouped:
    if name not in  no_heading:
        continue
    # moving average for heading with size 10 (0.4 second)
    group['heading_raw'] = np.arctan2(group['Y'].diff(d),group['X'].diff(d))#/np.pi*180
    group['heading'] = np.arctan2(group['heading_raw'].apply(np.sin).rolling(4, win_type = 'triang', min_periods = 2).mean(),group['heading_raw'].apply(np.cos).rolling(12, win_type = 'triang', min_periods = 6).mean())
    # fill NaN backward/forward 
    group['heading'] = group['heading'].fillna(method = 'bfill')
    group['heading'] = group['heading'].fillna(method = 'ffill')
    trace_df.loc[group.index,'heading'] = group['heading']
    trace_df.loc[group.index,'heading_raw'] = group['heading_raw']
    
# taking care of trips with small number of samples (no heading can be determined via above procedure)
no_heading = trace_df[['track_id','heading']].groupby('track_id').mean().isna()
no_heading = no_heading[no_heading['heading']].index.values

d = 2
min_speed = 0.1 

grouped = trace_df.groupby('track_id')
for name, group in grouped:
    if name not in  no_heading:
        continue
    # moving average for heading with size 10 (0.4 second)
    group['heading'] = np.arctan2(group['Y'].diff(d),group['X'].diff(d))#/np.pi*180
    # fill NaN backward/forward 
    group['heading'] = group['heading'].fillna(method = 'bfill')
    group['heading'] = group['heading'].fillna(method = 'ffill')
    trace_df.loc[group.index,'heading'] = group['heading']

10.0
20.0
30.0
40.0
50.0
60.0
70.0
80.0
90.0
100.0
110.0
120.0
130.0
140.0
150.0
160.0
170.0
180.0
190.0
200.0
210.0
220.0
230.0
240.0
250.0
260.0
270.0
280.0
290.0
300.0
310.0
320.0
330.0
340.0
350.0
360.0
370.0
380.0
390.0
400.0
410.0
420.0
430.0
440.0
450.0
460.0
470.0
480.0
490.0
500.0
510.0
520.0
530.0
540.0
550.0
560.0
570.0
580.0
590.0
600.0
610.0
620.0
630.0
640.0
650.0
660.0
670.0
680.0
690.0
700.0
710.0
720.0
730.0
740.0
750.0
760.0
770.0
780.0
790.0
800.0
810.0
820.0
830.0
840.0
850.0
860.0
870.0
880.0
890.0
900.0
910.0
920.0
930.0
940.0
950.0
960.0
970.0
980.0
990.0
1000.0
1010.0
1020.0
1030.0
1040.0
1050.0
1060.0
1070.0
1080.0
1090.0
1100.0
1110.0
1120.0
1130.0
1140.0
1150.0
1160.0
1170.0
1180.0
1190.0
1200.0
1210.0
1220.0
1230.0
1240.0
1250.0
1260.0
1270.0
1280.0
1290.0
1300.0
1310.0
1320.0
1330.0
1340.0
1350.0
1360.0
1370.0
1380.0
1390.0
1400.0
1410.0
1420.0
1430.0
1440.0
1450.0
1460.0
1470.0
1480.0
1490.0
1500.0
1510.0
1520.0
1530.0
1540.0
1550.0
1560.0
1570.0
1580.0
1590.0
1600.0
1610.0
1620.0
1630.0
1640.0
1650.0
1660.0
1670.0
1680.0
1690.0
1700.0
1710.0
1720.0
1730.0
1740.0
1750.0
1760.0
1770.0
1780.0
1790.0
1800.0
1810.0
1820.0
1830.0
1840.0
1850.0
1860.0
1870.0
1880.0
1890.0
1900.0
1910.0
1920.0
1930.0
1940.0
1950.0
1960.0
1970.0
1980.0
1990.0
2000.0
2010.0
2020.0
2030.0
2040.0
2050.0
2060.0
2070.0
2080.0
2090.0
2100.0
2110.0
2120.0
2130.0
2140.0
2150.0
2160.0
2170.0
2180.0
2190.0
2200.0
2210.0
2220.0
2230.0
2240.0
2250.0
2260.0
2270.0
2280.0
2290.0
2300.0

In [6]:
trace_df_full = trace_df.copy()

In [7]:
trip_set = np.arange(0,2000,40)
trace_df = trace_df_full[trace_df_full['track_id'].isin(trip_set)]
trace_df = trace_df_full.copy()
#trace_df = trace_df.iloc[::100,:]

## Road assignment

In [8]:
deg_tol = 15 * (np.pi/180)
deg_coef = 100 * (180/np.pi)
Y_tol = 15
Y_coef = 1000
X_tol = 5
X_coef = 10000

trace_df['score'] = deg_coef * 10 + Y_coef * 20 + X_coef * 5
trace_df['road'] = None
trace_df['dir'] = None
trace_df['X_road'] = None
trace_df['Y_road'] = None
trace_df['heading_road'] = None

for i in range(len(df_street)):
    # retrieve related street names
    street_name = df_street.loc[i]['Street']
    rot = -df_street.loc[i]['heading']
#    if (street_name == 'Out_ramp_1')|(street_name == 'Out_ramp_2')|(street_name == 'In_ramp'):
#        continue
#    if (street_name!= 'Mpoumpoulinas')&(street_name!= 'Loulianou_E'):
#        continue
    print(i,street_name)
    
    # rotation matrix
    R = np.array([[np.cos(rot), -np.sin(rot)],[np.sin(rot), np.cos(rot)]])
    # determine the new coordinates in the rotated framework
    df_street.loc[i,'X_1_r'] = df_street.loc[i,'X_1']
    df_street.loc[i,'Y_1_r'] = df_street.loc[i,'Y_1']
    df_street.loc[i,'X_2_r'] = df_street.loc[i,'X_2']
    df_street.loc[i,'Y_2_r'] = df_street.loc[i,'Y_2']
    df_street.loc[i,['X_1_r','Y_1_r']] = np.dot(R.squeeze(),df_street.loc[i,['X_1','Y_1']].as_matrix().T).T
    df_street.loc[i,['X_2_r','Y_2_r']] = np.dot(R.squeeze(),df_street.loc[i,['X_2','Y_2']].as_matrix().T).T

    # GPS traces: determine the new coordinates in the rotated framework
    trace_df['X_r'] = trace_df['X']
    trace_df['Y_r'] = trace_df['Y']
    trace_df[['X_r','Y_r']] = np.dot(R.squeeze(),trace_df[['X','Y']].as_matrix().T).T
    # subtracts the reference point of the road (one of the end)
    trace_df['Y_r'] = trace_df['Y_r'] - np.mean([df_street.loc[i,'Y_1_r'],df_street.loc[i,'Y_2_r']])
    trace_df['X_r'] = trace_df['X_r'] - df_street.loc[i,'X_1_r']
    # the new heading angle (add the rotation angle)
    trace_df['heading_r'] = trace_df['heading'] + rot
    # make sure angles is in [-np.pi,np.pi]
    trace_df['heading_r'] = (trace_df['heading_r']+4*np.pi).mod(2*np.pi)
    trace_df['heading_r'] = (trace_df['heading_r']<=np.pi)*trace_df['heading_r'] + (trace_df['heading_r']>np.pi)*(trace_df['heading_r'] - 2*np.pi)
    
    # determine the score
    if street_name.find('ramp')>-1:
        trace_df['score_temp'] = np.maximum(0, trace_df['heading_r'].abs() - deg_tol) * deg_coef 
    else:
        trace_df['score_temp'] = np.minimum(np.maximum(0, trace_df['heading_r'].abs() - deg_tol),np.maximum(0, np.pi-trace_df['heading_r'].abs() - deg_tol)) * deg_coef 
    trace_df['score_temp'] += np.maximum(0,trace_df['Y_r'].abs() - Y_tol) * Y_coef 
    trace_df['score_temp'] += np.maximum((np.maximum(0,-trace_df['X_r']-X_tol)),np.maximum(0,trace_df['X_r']-df_street.loc[i,'X_2_r']+df_street.loc[i,'X_1_r']-X_tol)) * X_coef
    selected_trips = trace_df['score_temp']<trace_df['score']
    
    # update name & score of the newly found closest road
    trace_df.loc[selected_trips,'road'] = street_name
    trace_df.loc[selected_trips,'score'] = trace_df.loc[selected_trips,'score_temp']

    trace_df.loc[selected_trips,'X_road'] = trace_df.loc[selected_trips,'X_r'] +  df_street.loc[i,'offset']
    trace_df.loc[selected_trips,'Y_road'] = trace_df.loc[selected_trips,'Y_r']
    trace_df.loc[selected_trips,'heading_road'] = trace_df.loc[selected_trips,'heading_r']

    if ((rot <= (45 * np.pi/180))&(rot > (-45 * np.pi/180))):
        trace_df.loc[selected_trips & (trace_df['heading_r'].abs()<=np.pi/2),'dir'] = 'EB'
        trace_df.loc[selected_trips & (trace_df['heading_r'].abs()>np.pi/2),'dir'] = 'WB'
    if ((rot < (-135 * np.pi/180)) | (rot > (135 * np.pi/180))):
        trace_df.loc[selected_trips & (trace_df['heading_r'].abs()<=np.pi/2),'dir'] = 'WB'
        trace_df.loc[selected_trips & (trace_df['heading_r'].abs()<=np.pi/2),'dir'] = 'EB'
    if ((rot > (45 * np.pi/180))&(rot <= (135 * np.pi/180))):
        trace_df.loc[selected_trips & (trace_df['heading_r'].abs()<=np.pi/2),'dir'] = 'SB'
        trace_df.loc[selected_trips & (trace_df['heading_r'].abs()>np.pi/2),'dir'] = 'NB'
    if ((rot > (-135 * np.pi/180))&(rot < (-45 * np.pi/180))):
        trace_df.loc[selected_trips & (trace_df['heading_r'].abs()<=np.pi/2),'dir'] = 'NB'
        trace_df.loc[selected_trips & (trace_df['heading_r'].abs()>np.pi/2),'dir'] = 'SB'


#trace_df.loc[(trace_df['Y_r']<20)&(trace_df['Y_r']>-20)&(trace_df['heading_r']<45)&(trace_df['heading_r']>-45),'road'] = 'E Alexandras'
#trace_df.loc[(trace_df['Y_r']<20)&(trace_df['Y_r']>-20)&((trace_df['heading_r']<-135)|(trace_df['heading_r']>135)),'road'] = 'W Alexandras'
trace_df['heading_road'] = (trace_df['heading_road']+4*np.pi).mod(2*np.pi)
trace_df['heading_road'] = (trace_df['heading_road'].abs()<=np.pi/2)*trace_df['heading_road'] + (trace_df['heading_road'].abs()>np.pi/2)*(trace_df['heading_road'] - np.pi)

0 Alexandras
1 Oktovriou
2 Oktovriou
3 Oktovriou
4 Oktovriou
5 Oktovriou
6 Oktovriou
7 Oktovriou
8 Oktovriou
9 Metsovou
10 Metsovou
11 Loulianou_W
12 Loulianou_E
13 Vasileos
14 Deligianni
15 In_ramp
16 Out_ramp_1
17 Out_ramp_2
18 Cheiden_E
19 Cheiden_W
20 Kotsika
21 Egiptou
22 Egiptou
23 Mavrommaeon_S
24 Mavrommaeon_S
25 Mavrommaeon_N
26 Mavrommaeon_N
27 Mavrommaeon_N
28 Rethimnou
29 Saripolou
30 Mpoumpoulinas
31 Zaimi
32 Zaimi
33 Navarchou
34 Navarchou
35 Spirou
36 Spirou
37 Kallidromiou
38 Enianos
39 Feron
40 Gkillfordou
41 Skaramagka

In [9]:
## MA for road column (majority vote)
#code,label = pd.factorize(trace_df['road'])
#trace_df['road_smooth'] = code
#
#grouped = trace_df.groupby('track_id')
#for name, group in grouped:
#    group['road_smooth'] = group['road_smooth'].rolling(window=25).apply(lambda x: mode(x)[0])
#    group['road_smooth'] = group['road_smooth'].fillna(method='bfill')
#    group['road_smooth'] = group['road_smooth'].fillna(method='ffill')
#    trace_df.loc[group.index,'road_smooth'] = label[group['road_smooth'].astype(int)]

In [10]:
trace_df[['track_id', 'lat', 'lon', 'speed', 'time', 'road', 'dir', 'X_road', 'Y_road', 'heading_road']].to_csv('traces_road.csv',index=False)

In [11]:
df_street.to_csv('street_information.csv',index=False)

## Visualization

In [39]:
# trip_set = np.arange(120,140)
trip_set = no_heading
sample_trip = trace_df[trace_df['track_id'].isin(trip_set)]
#sample_trip = sample_trip[['track_id','lat','lon','time','road','dir','heading_road','X_road','Y_road']]
map_2 = KeplerGl(height=800, data={'trip#1': sample_trip})
map_2

User Guide: https://github.com/keplergl/kepler.gl/blob/master/docs/keplergl-jupyter/user-guide.md

KeplerGl(data={'trip#1':          index  track_id        lat        lon    speed  lon_accel  lat_accel  \
4408…

In [52]:
 trip_set = np.arange(120,140)
sample_trip = trace_df[trace_df['track_id'].isin(trip_set)]
sample_trip = sample_trip[['track_id','lat','lon','time','road','dir','heading']]
map_3 = KeplerGl(height=800, data={'trip#1': sample_trip})
map_3

User Guide: https://github.com/keplergl/kepler.gl/blob/master/docs/keplergl-jupyter/user-guide.md

KeplerGl(data={'trip#1':          track_id        lat        lon                          time  \
45804       …

In [15]:
trace_df[['track_id', 'lat', 'lon', 'speed', 'time', 'road', 'dir', 'X_road', 'Y_road', 'heading_road']].to_csv('traces_road.csv',index=False)

In [16]:
df = trace_df[['track_id', 'lat', 'lon', 'speed', 'time', 'road', 'dir', 'X_road', 'Y_road', 'heading_road']]

,track_id,lat,lon,speed,time,road,dir,X_road,Y_road,heading_road
683,4.0,37.991066,23.735283,1.6859,2020-08-04 08:00:00.000000000,Alexandras,EB,429.873,-8.03973,2.99241
684,4.0,37.991066,23.735283,1.6795,2020-08-04 08:00:00.039999962,Alexandras,EB,429.873,-8.03973,2.99241
685,4.0,37.991066,23.735283,1.6900,2020-08-04 08:00:00.079999924,Alexandras,EB,429.873,-8.03973,2.99241
686,4.0,37.991066,23.735284,1.7135,2020-08-04 08:00:00.119999886,Alexandras,EB,429.978,-8.02245,2.99241
687,4.0,37.991066,23.735284,1.7560,2020-08-04 08:00:00.160000086,Alexandras,EB,429.978,-8.02245,2.99241
...,...,...,...,...,...,...,...,...,...,...
6322351,2296.0,37.992729,23.731518,0.9676,2020-08-04 08:13:29.039999962,Oktovriou,SB,95.2702,4.24372,-0.0565994
6322352,2296.0,37.992729,23.731518,0.9323,2020-08-04 08:13:29.079999924,Oktovriou,SB,95.2702,4.24372,-0.0565994
6322353,2296.0,37.992729,23.731518,0.9026,2020-08-04 08:13:29.119999886,Oktovriou,SB,95.2702,4.24372,-0.0565994
6322354,2296.0,37.992728,23.731518,0.8788,2020-08-04 08:13:29.160000086,Oktovriou,SB,95.1626,4.21791,-0.0565994
6322355,2296.0,37.992728,23.731518,0.8657,2020-08-04 08:13:29.200000048,Oktovriou,SB,95.1626,4.21791,-0.0565994